body {
  font-family: 'Arial', sans-serif; /* Changed font-family */
  font-size: 16px; /* Added font-size */
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333333; /* Added font color */
}

.table-container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1200px;
}

table {
  width: 48%;
  border-collapse: collapse;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;
  font-size: 14px; /* Added font-size */
  color: #333333; /* Added font color */
}

th {
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  color: white;
  padding: 18px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

th, td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  background-color: #f4f6fc;
}

tr:hover {
  background-color: #e9effc;
  transform: scale(1.01);
  transition: all 0.3s ease;
}

.expandable {
  cursor: pointer;
  color: #028c99;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.expand-collapse-btn {
  font-size: 10px;
  color: #06BBCC;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-right: 12px;
}

.expand-collapse-btn:hover {
  color: #028c99;
  transform: scale(1.1);
}

/* Custom Topic Icon Style */
.topic-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #06BBCC;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 12px;
}

/* Add padding to the left for subtopics */
.subtopic td {
  padding-left: 100px; /* Add left padding to subtopic rows */
}

/* Desktop Layout */
@media (min-width: 768px) {
  .table-container {
      display: flex;
      justify-content: space-between;
      margin: 30px auto;
      max-width: 1200px;
  }

  .table-container table {
      width: 48%;
  }
}

/* Mobile Layout */
@media (max-width: 767px) {
  .table-container {
      display: block;
      margin: 20px;
  }

  .table-container table {
      width: 100%;
      margin-bottom: 20px;
  }

  .expand-collapse-btn {
      margin-right: 8px;
  }
}